extends layout

block style
    style
        include ../static/style2.css
 
block title
    title About us | altrNATIVE


block content
    .contentAll
        .mainHeading
            h1 About

        .contentFold
            
            p We feel that it is India’s time now. In line with the “Make in India” initiate launched by our Honorable Prime Minister; we are proud to be an Indian born initiative with the core value of country in its heart. 
            p The Make in India initiative was launched by Prime Minister in September 2014 as part of a wider set of nation-building initiatives. Devised to transform India into a global design and manufacturing hub.  It is a powerful, galvanizing call to action to India’s citizens and business leaders, and an invitation to potential partners and investors around the world.  It represents a comprehensive and unprecedented overhaul of outdated processes and policies. Most importantly, it represents a complete change of the government’s mindset – a shift from issuing authority to business partner, in keeping with Prime Minister's tenet of ‘Minimum Government, Maximum Governance’.
            p The Indian MSME sector provides maximum opportunities for both self-employment and wage-employment outside the agricultural sector and contributes in building an inclusive and sustainable society in innumerable ways through creation of non-farm livelihood at low cost, balanced regional development, gender and social balance, environmentally sustainable development, etc.
            br
            | The MSME sector in India boasts of diversity in terms of its size, level of technology employed, range of products and services provided and target markets. 
            br.break
            h2 WHY INVEST IN INDIA?
            ul.flex
                li FASTEST GROWING ECONOMY
                li DEMOGRAPHIC ADVANTAGE
                li FAVOURABLE POLICIES
                li DEVELOPING INFRASTRUCTURE
                li SUPPORTING GOVERNMENT STRUCTURE
            br.break
            h2 One of the fastest growing economies in the world, India has sustained recent global downturn and emerged as one of the leading nations in terms of GDP growth rate and FDI inflows
            ul.flex
                li India is likely to grow at consistently higher rates (>7%) and retain its position as one of the fastest growing economies till 2020 (Source: International Monetary Fund)
                li In recent years, India has emerged as one of the most attractive destinations not only for investments but also for doing business, evident by its significant jump by 12 places in Ease of Doing Business rankings between 2014 and 2015 (Source: Ease of Doing Business, World Bank)
                li India accounted for 1.7% of global merchandise exports in 2014, compared to 0.8% in early 2000. Exports have increased at a Compound Annual Growth Rate of 11.6% in FY 2010 to USD 310 billion in FY 2015 (Source: EXIM Bank Catalyzing India’s trade and investment, July 1, 2015; WTO International Trade Statistics 2015)
                li Foreign exchange reserves have been at a comfortable level over recent years. Currently, India’s reserves stand at USD 371.279 billion (Source: Reserve Bank of India as on 9th September 2016)
                li India ranks amongst the top 10 FDI destinations globally - surpassing USD 50 billion in FY 2015-16. India has shown a growth of 46% in FDI equity inflow and 37% in overall FDI inflow since the launch of Make in India initiative (Source: Ministry of Commerce, Government of India. 
  
            h2 EASE OF DOING BUSINESS
            p The Ease of Doing Business (EoDB) index is a ranking system established by the World Bank Group. In the EODB index, ‘higher rankings’ (a lower numerical value) indicate better, usually simpler, regulations for businesses and stronger protections of property rights.
            p Among the chosen 190 countries2, India ranked 63rd in Doing Business 2020: World Bank Report. In 2014, the Government of India launched an ambitious program of regulatory reforms aimed at making it easier to do business in India. The program represents a great deal of effort to create a more business-friendly environment.
            p The efforts have yielded substantial results with India jumping 79 places in the Doing Business rankings since 2014. Positive changes have led to this impressive improvement in India’s ranking in the EoDB index. India’s major achievement is summarized here:
            br.break
            b Construction Permits: 
            p India’s ranking on this parameter has improved from 184 in 2014 to 27 in 2019. This improvement has been mainly on the account of a decrease in the number of procedures and time taken for obtaining construction permits in India.
                
            b Getting Electricity: 
            p India’s ranking on this parameter has improved from 137 in 2014 to 22 in 2019. It takes just 53 days and 4 procedures for a business to get an electricity connection in India.
                | Apart from these significant improvements, among the 190 economies, India ranks 13th in Protecting Minority Investors and 25th in Getting Credit.
            
            h2 SUCCESS SO FAR
            p
                | On the back of Modi government’s ‘Make in India’ initiative, the domestic mobile handsets and components manufacturing industry has helped save the country a whopping Rs 3 lakh crore of possible outflow in the last four years, by replacing import of completely-built units (CBUs) with domestically manufactured and assembled handsets, said the India Cellular & Electronics Association (ICEA). In a report, the industry body said the mobile phone and components manufacturing industry is expected to be worth Rs 1.65 lakh crore with about 290 million units by March 2019, while import is also expected to go down to around 5-7%.
                br.break
                | In the financial year 2014-15, of the total domestic requirement of mobile handsets, nearly 78% was met through imports. The net foreign exchange savings are already estimated to be over Rs 60,000 crore, the report said. As per the report, more than 120 new manufacturing units were set up in the past four years, providing employment to over 4.5 lakh people. In the last financial year 2017-18 itself, over 225 million mobile phones were manufactured and assembled in India, which is about 80% of the total market demand, the report showed.
                br.break
            b BENFITS OF “MAKE IN INDIA”
            ol
                li Developing India’s manufacturing Hubs
                li Promoting India’s economic growth
                li More employment opportunities
                li Opportunity to attract Foreign direct investment
                li Promotion of defense investment in India. 
            
            a.link(href="/makeinindia") Know More