<!DOCTYPE html>
html(lang="en")
    head
        // Global site tag (gtag.js) - Google Analytics
        script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-167829594-1')
        script.
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-167829594-1');

        link(rel='shortcut icon' href='/images/Logo/favicon.ico' type='image/x-icon')
        link(rel='icon' href='/images/Logo/favicon.ico' type='image/x-icon')

        block title
        style
            include ../static/layoutStyle.css
        
        
        block style
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        block title
    body
        .gradiantMainDiv
            header
                .logo
                    a(href="/home")
                        img(src="/images/Logo/default.png" )
                        
    
                .navbar
                    nav
                        ul
                            li 
                                a(href='/home')
                                    button.btn Home
                            li 
                                a(href='/entries')
                                    button.btn.splTextalt Altrnatives

                            li 
                                    a(href='/about')
                                        button.btn About
                                    .dropDown
                                        a(href='/team')
                                            button.btn Make in India Program
                                        a(href='/makeinIndia')
                                            button.btn.splbtn Atma Nirbhar Program
                                        a(href='/atmaNirbhar')
                                            button.btn.splbtn Meet the team
                                        a(href='/faq')
                                            button.btn.splbtn Faq

                            
                            
                            li
                                a(href="/feedback")
                                    button.btn Feedback
                                                          
                            li
                                a(href="/secretTop")
                                    button.btn Post(Temporary Button)
            block content
         
            footer
                .footerDiv
                    .mainFooter
                        .atmaNirbhar
                            img(src="/images/Atma Nirbhar.png", alt="")
                        .india
                            img(src="/images/svg/india.svg", alt="")                            
                        .makeIndia
                            img(src="/images/make in india.png", alt="")
                        
                    .subFooter
                        
                

        block script