<!DOCTYPE html>
html(lang="en")
    head
        
        // Global site tag (gtag.js) - Google Analytics
        script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-167829594-1')
        script.
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-167829594-1');
        
        link(rel='shortcut icon' href='/images/Logo/favicon.ico' type='image/x-icon')
        link(rel='icon' href='/images/Logo/favicon.ico' type='image/x-icon')
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        block title
        style
            include ../static/layoutStyle.css
        
        
        block style
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        block title
    body
        .gradiantMainDiv
            header  
                .navbar
                    .logo
                        .img
                            a(href="/home")
                                img(src="/images/Logo/default.png" )
                        .bars
                            a.toggle(href="#")
                                span.bar
                                span.bar
                                span.bar

                    nav

                        .topnav
                            ul.navUL
                                li 
                                    a(href='/home')
                                        button.btn Home
                                
                                li 
                                    a(href='/entries')
                                        button.btn.splTextalt Altrnatives

                                li 
                                        a(href='/about')
                                            button.btn About
                                        .dropDown
                                            a(href='/makeinIndia')
                                                | Make in India Program
                                            //a(href='/makeinIndia')
                                                //| Atma Nirbhar Program
                                            //a(href='/atmaNirbhar')
                                                //| Meet the team
                                            //a(href='/faq')
                                                //| Faq

                            
                            
                                li
                                    a(href="/feedback")
                                        button.btn Feedback

                                li
                                    a(href="/post")
                                        button.btn Post



            block content
         
            footer
                .footerDiv
                    .mainFooter
                        .atmaNirbhar
                            img(src="/images/Atma Nirbhar.png", alt="")
                        .india
                            img(src="/images/svg/india.svg", alt="")                            
                        .makeIndia
                            img(src="/images/make in india.png", alt="")
                        
                    .subFooter
                        .smIcons
                            h4 Connect with Us
                            a(href="https://www.instagram.com/altrnative.in" target="_blank")
                                img(src="/images/instagram icon.png", alt="")
                            
                            a(href="https://www.facebook.com/Altrnative-100732171703902/?modal=admin_todo_tour" target="_blank")
                                img(src="/images/facebook icon.png", alt="" )

                            a(href="https://discord.gg/FrAxJW" target="_blank")
                                img(src="/images/discord icon.png", alt="" )
                        .menuFooter
                            
                            ul
                                h4 Content
                                li
                                    a(href="/home") Home
                                    hr
                                li
                                    a(href="/entries") Altrnatives
                                    hr
                                li
                                    a(href="/about") About
                                    hr
                                       
                                li
                                    a(href="/makeinindia") Make In India
                                    hr
                                li
                                    a(href="/feedback") Feedback
                                    hr
                                li
                                    a(href="/post") Post
                                    hr

                        .contactOptions
                            h4 Other Details
                            .email
                                h6 Contact us on
                                h5 altrnative.in@gmail.com
                                hr
                            .privacyPol
                                a(href="https://www.privacypolicygenerator.info/live.php?token=pBpaqg2oK98F90cB5sBgeRNGMT6VEDK9" target="_blank") Privacy Policy
                                hr
                            .endLogo
                                a(href="/home")
                                    img(src="/images/Logo/default.png" )

                
        script
            include ../static/respNav.js
        block script