extends layout.pug



block style
    style
        include ../static/style2.css
 
block title
    title Make In India| altrNATIVE


block content
    .contentAll
        .mainHeading
            h1 Make In India

        .contentFold
            
            h2 PROGRAM
            p The Make in India initiative was launched by Prime Minister in September 2014 as part of a wider set of nation-building initiatives. Devised to transform India into a global design and manufacturing hub, Make in India was a timely response to a critical situation. By 2013, the much-hyped emerging markets bubble had burst, and India’s growth rate had fallen to its lowest level in a decade. The promise of the BRICS Nations (Brazil, Russia, India, China and South Africa) had faded, and India was tagged as one of the so-called ‘Fragile Five’. Global investors debated whether the world’s largest democracy was a risk or an opportunity. India’s 1.2 billion citizens questioned whether India was too big to succeed or too big to fail. India was on the brink of severe economic failure, desperately in need of a big push.

            br
            h2 PROCESS
            p Make in India was launched by Prime Minister against the backdrop of this crisis and quickly became a rallying cry for India’s innumerable stakeholders and partners. It was a powerful, galvanising call to action to India’s citizens and business leaders, and an invitation to potential partners and investors around the world. But Make in India is much more than an inspiring slogan. It represents a comprehensive and unprecedented overhaul of outdated processes and policies. Most importantly, it represents a complete change of the government’s mindset – a shift from issuing authority to business partner, in keeping with Prime Minister's tenet of ‘Minimum Government, Maximum Governance’.

            br
            h2 PLAN
            p To start a movement, you need a strategy that inspires, empowers and enables in equal measure. Make in India needed a different kind of campaign: instead of the typical statistics-laden newspaper advertisements, this exercise required messaging that was informative, well-packaged and most importantly, credible. It had to (a) inspire confidence in India’s capabilities amongst potential partners abroad, the Indian business community and citizens at large; (b) provide a framework for a vast amount of technical information on 25 industry sectors; and (c) reach out to a vast local and global audience via social media and constantly keep them updated about opportunities, reforms, etc. 
            p The Department for Promotion of Industry and Internal Trade (DPIIT) worked with a group of highly specialised agencies to build brand new infrastructure, including a dedicated help desk and a mobile-first website that packed a wide array of information into a simple and sleek menu. Designed primarily for mobile screens, the site’s architecture ensured that exhaustive levels of detail are neatly tucked away so as not to overwhelm the user. 25 sector brochures were also developed - contents included key facts and figures, policies and initiatives and sector-specific contact details, all of which was made available in print and on the website.

            br
            h2 PARTNERSHIPS
            PARTNERSHIPS
            p The Make in India initiative has been built on layers of collaborative effort. DIPP initiated this process by inviting participation from Union Ministers, Secretaries to the Government of India, state governments, industry leaders, and various knowledge partners. Next, a National Workshop on sector specific industries in December 2014 brought Secretaries to the Government of India and industry leaders together to debate and formulate an action plan for the next three years, aimed at raising the contribution of the manufacturing sector to 25% of the GDP by 2020. This plan was presented to the Prime Minister, Union Ministers, industry associations and industry leaders by the Secretaries to the Union Government and the Chief Secretary, Maharashtra on behalf of state governments.
            p These exercises resulted in a road map for the single largest manufacturing initiative undertaken by a nation in recent history. They also demonstrated the transformational power of public-private partnership, and have become a hallmark of the Make in India initiative. This collaborative model has also been successfully extended to include India’s global partners, as evidenced by the recent in-depth interactions between India and the United States of America.

            br
            h2 PROGRESS
            p In a short space of time, the obsolete and obstructive frameworks of the past have been dismantled and replaced with a transparent and user-friendly system. This is helping drive investment, fostering innovation, developing skills, protecting Intellectual Property (IP) and building best-in-class manufacturing infrastructure. The most striking indicator of progress is the unprecedented opening of key sectors – including railways, defence, insurance and medical devices – to substantially higher levels of Foreign Direct Investment.
            p The ministry has engaged with the World Bank group to identify areas of improvement in line with World Bank’s ‘doing business’ methodology. Several workshops with Ministries and State governments have been conducted by the Department for Promotion of Industry & Internal Trade (DPIIT) and World Bank for Business Reforms Action Plan.
            p An Investor Facilitation Cell (IFC) dedicated for the Make in India campaign was formed in September 2014 with an objective to assist investors in seeking regulatory approvals, hand-holding services through the pre-investment phase, execution and after-care support.
            p The Indian embassies and consulates proactively disseminate information on the potential for investment in the identified sectors. DPIIT has set up a special management team to facilitate and fast track investment proposals from Japan. The team known as ‘Japan Plus’ was operationalized in October 2014. Similarly, 'Korea Plus', launched in June 2016, facilitates fast track investment proposals from South Korea and offers holistic support to Korean companies wishing to enter the Indian market.
            p Various sectors have been opened-up for FDI like defence manufacturing, railways, space, single brand retail, etc. Also, for ease of doing business, the regulatory policies have been relaxed to facilitate more investments.
            p Across various regions of the country; six industrial corridors are being developed. Industrial Cities will also come up along these corridors.
            p Today, India’s credibility is stronger than ever. There is visible momentum, energy and optimism. Make in India is opening investment doors. Multiple enterprises are adopting its mantra. The world’s largest democracy is well on its way to becoming the world’s most powerful economy
            a.link(href="https://www.makeinindia.com/home" target="_blank") Source
