extends layout

block style
    style
        include ../static/style1.css
    block title
        title Dev Page | altrNATIVE

block content
    .gradiantDiv
        -var message = msg || '';
        .messages
            .succMsg
                h2=message

        .formDiv
            form(action="/secretTop" method="POST" class="myEntries")

                .country
                    .chineseLabel
                        label(for="Chinese Name") Chinese Product Name:
                        input(type="text" id="productName" name="chinese_name" )
                        
                        label(for="Chinese Company" ) Product Company Name:
                        input(type="text" id="productCompany" name="chinese_company"  )

                    .otherLabel
                        label(for="Other Name") Alternative Product Name:
                        input(type="text" id="productName" name="other_name")
                        
                        label(for="Other Company" ) Company Name:
                        input(type="text" id="productCompany" name="other_company" )

                        label(for="Other Country" ) Company Country(Optional):
                        select#country(name='other_country')
                            option(value='') Select
                            option(value='Afganistan') Afghanistan
                            option(value='Albania') Albania
                            option(value='Algeria') Algeria
                            option(value='American Samoa') American Samoa
                            option(value='Andorra') Andorra
                            option(value='Angola') Angola
                            option(value='Anguilla') Anguilla
                            option(value='Antigua & Barbuda') Antigua &amp; Barbuda
                            option(value='Argentina') Argentina
                            option(value='Armenia') Armenia
                            option(value='Aruba') Aruba
                            option(value='Australia') Australia
                            option(value='Austria') Austria
                            option(value='Azerbaijan') Azerbaijan
                            option(value='Bahamas') Bahamas
                            option(value='Bahrain') Bahrain
                            option(value='Bangladesh') Bangladesh
                            option(value='Barbados') Barbados
                            option(value='Belarus') Belarus
                            option(value='Belgium') Belgium
                            option(value='Belize') Belize
                            option(value='Benin') Benin
                            option(value='Bermuda') Bermuda
                            option(value='Bhutan') Bhutan
                            option(value='Bolivia') Bolivia
                            option(value='Bonaire') Bonaire
                            option(value='Bosnia & Herzegovina') Bosnia &amp; Herzegovina
                            option(value='Botswana') Botswana
                            option(value='Brazil') Brazil
                            option(value='British Indian Ocean Ter') British Indian Ocean Ter
                            option(value='Brunei') Brunei
                            option(value='Bulgaria') Bulgaria
                            option(value='Burkina Faso') Burkina Faso
                            option(value='Burundi') Burundi
                            option(value='Cambodia') Cambodia
                            option(value='Cameroon') Cameroon
                            option(value='Canada') Canada
                            option(value='Canary Islands') Canary Islands
                            option(value='Cape Verde') Cape Verde
                            option(value='Cayman Islands') Cayman Islands
                            option(value='Central African Republic') Central African Republic
                            option(value='Chad') Chad
                            option(value='Channel Islands') Channel Islands
                            option(value='Chile') Chile
                            option(value='China') China
                            option(value='Christmas Island') Christmas Island
                            option(value='Cocos Island') Cocos Island
                            option(value='Colombia') Colombia
                            option(value='Comoros') Comoros
                            option(value='Congo') Congo
                            option(value='Cook Islands') Cook Islands
                            option(value='Costa Rica') Costa Rica
                            option(value='Cote DIvoire') Cote DIvoire
                            option(value='Croatia') Croatia
                            option(value='Cuba') Cuba
                            option(value='Curaco') Curacao
                            option(value='Cyprus') Cyprus
                            option(value='Czech Republic') Czech Republic
                            option(value='Denmark') Denmark
                            option(value='Djibouti') Djibouti
                            option(value='Dominica') Dominica
                            option(value='Dominican Republic') Dominican Republic
                            option(value='East Timor') East Timor
                            option(value='Ecuador') Ecuador
                            option(value='Egypt') Egypt
                            option(value='El Salvador') El Salvador
                            option(value='Equatorial Guinea') Equatorial Guinea
                            option(value='Eritrea') Eritrea
                            option(value='Estonia') Estonia
                            option(value='Ethiopia') Ethiopia
                            option(value='Falkland Islands') Falkland Islands
                            option(value='Faroe Islands') Faroe Islands
                            option(value='Fiji') Fiji
                            option(value='Finland') Finland
                            option(value='France') France
                            option(value='French Guiana') French Guiana
                            option(value='French Polynesia') French Polynesia
                            option(value='French Southern Ter') French Southern Ter
                            option(value='Gabon') Gabon
                            option(value='Gambia') Gambia
                            option(value='Georgia') Georgia
                            option(value='Germany') Germany
                            option(value='Ghana') Ghana
                            option(value='Gibraltar') Gibraltar
                            option(value='Great Britain') Great Britain
                            option(value='Greece') Greece
                            option(value='Greenland') Greenland
                            option(value='Grenada') Grenada
                            option(value='Guadeloupe') Guadeloupe
                            option(value='Guam') Guam
                            option(value='Guatemala') Guatemala
                            option(value='Guinea') Guinea
                            option(value='Guyana') Guyana
                            option(value='Haiti') Haiti
                            option(value='Hawaii') Hawaii
                            option(value='Honduras') Honduras
                            option(value='Hong Kong') Hong Kong
                            option(value='Hungary') Hungary
                            option(value='Iceland') Iceland
                            option(value='Indonesia') Indonesia
                            option(value='India') India
                            option(value='Iran') Iran
                            option(value='Iraq') Iraq
                            option(value='Ireland') Ireland
                            option(value='Isle of Man') Isle of Man
                            option(value='Israel') Israel
                            option(value='Italy') Italy
                            option(value='Jamaica') Jamaica
                            option(value='Japan') Japan
                            option(value='Jordan') Jordan
                            option(value='Kazakhstan') Kazakhstan
                            option(value='Kenya') Kenya
                            option(value='Kiribati') Kiribati
                            option(value='Korea North') Korea North
                            option(value='Korea South') Korea South
                            option(value='Kuwait') Kuwait
                            option(value='Kyrgyzstan') Kyrgyzstan
                            option(value='Laos') Laos
                            option(value='Latvia') Latvia
                            option(value='Lebanon') Lebanon
                            option(value='Lesotho') Lesotho
                            option(value='Liberia') Liberia
                            option(value='Libya') Libya
                            option(value='Liechtenstein') Liechtenstein
                            option(value='Lithuania') Lithuania
                            option(value='Luxembourg') Luxembourg
                            option(value='Macau') Macau
                            option(value='Macedonia') Macedonia
                            option(value='Madagascar') Madagascar
                            option(value='Malaysia') Malaysia
                            option(value='Malawi') Malawi
                            option(value='Maldives') Maldives
                            option(value='Mali') Mali
                            option(value='Malta') Malta
                            option(value='Marshall Islands') Marshall Islands
                            option(value='Martinique') Martinique
                            option(value='Mauritania') Mauritania
                            option(value='Mauritius') Mauritius
                            option(value='Mayotte') Mayotte
                            option(value='Mexico') Mexico
                            option(value='Midway Islands') Midway Islands
                            option(value='Moldova') Moldova
                            option(value='Monaco') Monaco
                            option(value='Mongolia') Mongolia
                            option(value='Montserrat') Montserrat
                            option(value='Morocco') Morocco
                            option(value='Mozambique') Mozambique
                            option(value='Myanmar') Myanmar
                            option(value='Nambia') Nambia
                            option(value='Nauru') Nauru
                            option(value='Nepal') Nepal
                            option(value='Netherland Antilles') Netherland Antilles
                            option(value='Netherlands') Netherlands (Holland, Europe)
                            option(value='Nevis') Nevis
                            option(value='New Caledonia') New Caledonia
                            option(value='New Zealand') New Zealand
                            option(value='Nicaragua') Nicaragua
                            option(value='Niger') Niger
                            option(value='Nigeria') Nigeria
                            option(value='Niue') Niue
                            option(value='Norfolk Island') Norfolk Island
                            option(value='Norway') Norway
                            option(value='Oman') Oman
                            option(value='Pakistan') Pakistan
                            option(value='Palau Island') Palau Island
                            option(value='Palestine') Palestine
                            option(value='Panama') Panama
                            option(value='Papua New Guinea') Papua New Guinea
                            option(value='Paraguay') Paraguay
                            option(value='Peru') Peru
                            option(value='Phillipines') Philippines
                            option(value='Pitcairn Island') Pitcairn Island
                            option(value='Poland') Poland
                            option(value='Portugal') Portugal
                            option(value='Puerto Rico') Puerto Rico
                            option(value='Qatar') Qatar
                            option(value='Republic of Montenegro') Republic of Montenegro
                            option(value='Republic of Serbia') Republic of Serbia
                            option(value='Reunion') Reunion
                            option(value='Romania') Romania
                            option(value='Russia') Russia
                            option(value='Rwanda') Rwanda
                            option(value='St Barthelemy') St Barthelemy
                            option(value='St Eustatius') St Eustatius
                            option(value='St Helena') St Helena
                            option(value='St Kitts-Nevis') St Kitts-Nevis
                            option(value='St Lucia') St Lucia
                            option(value='St Maarten') St Maarten
                            option(value='St Pierre & Miquelon') St Pierre &amp; Miquelon
                            option(value='St Vincent & Grenadines') St Vincent &amp; Grenadines
                            option(value='Saipan') Saipan
                            option(value='Samoa') Samoa
                            option(value='Samoa American') Samoa American
                            option(value='San Marino') San Marino
                            option(value='Sao Tome & Principe') Sao Tome &amp; Principe
                            option(value='Saudi Arabia') Saudi Arabia
                            option(value='Senegal') Senegal
                            option(value='Seychelles') Seychelles
                            option(value='Sierra Leone') Sierra Leone
                            option(value='Singapore') Singapore
                            option(value='Slovakia') Slovakia
                            option(value='Slovenia') Slovenia
                            option(value='Solomon Islands') Solomon Islands
                            option(value='Somalia') Somalia
                            option(value='South Africa') South Africa
                            option(value='Spain') Spain
                            option(value='Sri Lanka') Sri Lanka
                            option(value='Sudan') Sudan
                            option(value='Suriname') Suriname
                            option(value='Swaziland') Swaziland
                            option(value='Sweden') Sweden
                            option(value='Switzerland') Switzerland
                            option(value='Syria') Syria
                            option(value='Tahiti') Tahiti
                            option(value='Taiwan') Taiwan
                            option(value='Tajikistan') Tajikistan
                            option(value='Tanzania') Tanzania
                            option(value='Thailand') Thailand
                            option(value='Togo') Togo
                            option(value='Tokelau') Tokelau
                            option(value='Tonga') Tonga
                            option(value='Trinidad & Tobago') Trinidad &amp; Tobago
                            option(value='Tunisia') Tunisia
                            option(value='Turkey') Turkey
                            option(value='Turkmenistan') Turkmenistan
                            option(value='Turks & Caicos Is') Turks &amp; Caicos Is
                            option(value='Tuvalu') Tuvalu
                            option(value='Uganda') Uganda
                            option(value='United Kingdom') United Kingdom
                            option(value='Ukraine') Ukraine
                            option(value='United Arab Erimates') United Arab Emirates
                            option(value='United States of America') United States of America
                            option(value='Uraguay') Uruguay
                            option(value='Uzbekistan') Uzbekistan
                            option(value='Vanuatu') Vanuatu
                            option(value='Vatican City State') Vatican City State
                            option(value='Venezuela') Venezuela
                            option(value='Vietnam') Vietnam
                            option(value='Virgin Islands (Brit)') Virgin Islands (Brit)
                            option(value='Virgin Islands (USA)') Virgin Islands (USA)
                            option(value='Wake Island') Wake Island
                            option(value='Wallis & Futana Is') Wallis &amp; Futana Is
                            option(value='Yemen') Yemen
                            option(value='Zaire') Zaire
                            option(value='Zambia') Zambia
                            option(value='Zimbabwe') Zimbabwe

                        label(for="Other Made In") Made in:
                        textarea( name="other_madeIn" id="textInput")
                           
                    .commonProductType
                        label(for="Product Category") Product Category:
                        input(type="text" id="productCategory" name="productCategory_mainCategory")
                        label(for="Product Category") Sub Category (Optional):
                        input(type="text" id="subCategory" name="productCategory_subCategory" )
                        
                        
                       

                button.btn Submit


