
.tape{
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0px 0px 20px 0px;
}



.splText{
    color: tomato;
    font-size: 125px;
}




h3{
    
    font-size:100px ;
}
h4{
    font-size: 50px;
}
.cardContent h3,h4{
    font-size: 20px;
}
.partFull{
    display: flex;
    align-items: center;
    
    justify-content: center;
}
.partFull .card{
    height: fit-content;
}

.part1{
    width: 40%;
    
    
}
.part2{
    width: 70%;
    
    

}

.tape1 .part1{
    margin-left: 300px;
}

.tape1 .part1 img{
    width: 100%;
}
.tape2{
    display: flex;
    justify-content: center;
    background-image: url("images/svg/orange cover.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
   
    
    
}
.orange{
    background-color: orangered;
}


.tape2 .part1{
    
    background: rgba(104,173,237,1);
    width: 700px;
    height: min-content;
    margin-top:500px;
    margin-left:60px;
    padding: 30px;
    color: white;
}


.tape2 .part2{
    
    display: flex;
    align-items: center;
    
    margin-top:550px;
    margin-left:150px;
}


.part1 .btn{
    width: fit-content;
}


.slideInLeft {
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes slideInLeft {
    0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
    }
    @keyframes slideInLeft {
    0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
    } 
  
    .slideInLeftDelay {
        
        animation-name: slideInLeft;
        
        animation-duration: 1s;
        
        animation-fill-mode: both;
        animation-delay: 0.1s;
        }
        @keyframes slideInLeft {
        0% {
        
        transform: translateX(-100%);
        visibility: visible;
        }
        100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        }
        }
        @keyframes slideInLeft {
        0% {
        
        transform: translateX(-100%);
        visibility: visible;
        }
        100% {
        
        transform: translateX(0);
        }
        } 
      




.tape3{
    height: max-content;
}
.tape3 .part1{
    background: #ff722b;
    width: 700px;
    
    height: min-content;
    margin-top:300px;
    
    padding: 30px;
    color: white;
}

.tape3 img{
    margin-top:300px;
    margin-left: 100px;
    
    width: 80%;
    box-shadow: 0px 2px 148px 28px #f5d3a4;


}
.tape4{
    width: 100%;
    height: 1100px;
    background-image: url('images/svg/orange strip 2.svg');
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tape4 .part1,part2{
width: 100%;
}
.tape4 img{
    width: 50px;

}

.tape4 .part1{
    display: flex;
    justify-content: center ;
    background-color:  #ffa940;
    width: min-content;
    box-shadow: 10px 10px 211px 24px rgba(255,161,130,1);
    margin-bottom: 20px;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    
}

.oneTick,.twoTick,.threeTick{
    display: flex;
    flex-direction: row;
    
    align-items: center;
    margin: 70px;
}
.ticks{
    background-color:#ff9a65;
    border-radius: 1500px 0px 1500px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.ticks h4{
    margin-left: 15px;
}

.tape5{

width: 100%;
height: 900px;
background-image: url('images/svg/plus orange.svg');
background-repeat: no-repeat;
}

.tape5 .part1{
    background: #ff722b;
    width: 1000px;
    
    height: min-content;
    margin-top:75px;
    
    padding: 30px;
    color: white;
}

.tape5 .btn{
    float: right;
}