/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');


*{
	scroll-behavior: smooth;
    margin: 0;
	padding: 0;
	
}

/* width */
::-webkit-scrollbar {
	width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: orange; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #555; 
  }
body{
	font-family: 'Source Sans Pro', sans-serif;
}
.gradiantMainDiv{
	background-color: #efdecd;
}
.subFooter{
	display: flex;
	flex-direction: row;
	text-align: center;
	
}
.menuFooter{
	width: 33%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin-top: 30px;
	border-left: 1px solid #bf885e ;
	border-right: 1px solid #bf885e ;
	
	
}
.subFooter h4{
	
	color: tomato;
	
}
.menuFooter ul{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
}
.menuFooter li{
text-decoration: none;
list-style: none;
margin: 10px;
cursor: pointer;
color: chocolate;
	
}
.subFooter a{
	text-decoration: none;
	color: black;
	font-weight: bold;
}
.menuFooter a:hover{
	
	color: white;
	
}
.subFooter h6{
	font-size: 13px;
}
.privacyPol{
	margin: 10px;
}

.contactOptions {
	padding-top:30px ;
	display: flex;
	flex-direction: column;
	width: 33%;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
	
}
.contactOptions h5{
	text-align: center;
	width: 100%;
	font-size: 17px;
}
.email{
	margin: 10px;
}
hr{
	border: 0;
	height: 0;
	border-top: 1px solid #bf885e;
	border-bottom: 1px solid #bf885e;
}
.smIcons{
	padding-top:30px ;
	display: flex;
	flex-direction: column;
	width: 33%;
	justify-content: flex-start;
	align-items: center;
	height: 100%;

}
.footerDiv .smIcons img{
width: 50px;
height: auto;
margin: 10px;
	
}

.navbar .btn{
	padding: 10px 20px 10px 20px;
	border: none;
	-webkit-box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
	        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);

  	color: black;
					
	background-color:   #efdecd;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	cursor: pointer;
}

.btn{
	padding: 10px 20px 10px 20px;
	border: none;
  	
  	color: black;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	cursor: pointer;
}

li .btn.splTextalt{
	background-color: tomato;
	border: none;
	font-weight: normal;
}



.mobileView{
	width: 100%;

}
.mobileView label{

	font-size: 30px;

	cursor: pointer;
}


.btn:hover{
    color: white;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	background-color: #c19a6b;
}
header{
background-color: tomato;
	width: 100%;
	background-color: #efdecd;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

}
.navbar{
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	

}

.logo{
	width: 30%;
}
nav{
	width: 70%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	
}

.logo img{
	
	width: 150px;
	
	margin-left: 50px;
	
}
.footerDiv img{
	width: 150px;
	
}

footer{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	background-color: #edc9af;
	
}


 nav ul{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	text-decoration: none;
	list-style-type: none;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

nav ul li{
	margin: 10px;
}

.dropDown a{
	text-decoration: underline;
	margin-bottom: 10px;
	color: tomato;
}

.dropDown{
	background-color: #efdecd;
	
	-webkit-box-orient: vertical;
	
	-webkit-box-direction: normal;
	
	    -ms-flex-direction: column;
	
	        flex-direction: column;
	display: none;
	position: absolute;
	text-decoration: none;
	padding:10px;
	border: 1px solid #edc9af;
	cursor: default;
}
.splbtn{
	margin: 5px;
}

nav ul li:hover .dropDown{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	text-decoration: none;

	}
	

.footerDiv{
	width: 100%;
}

.mainFooter{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 100%;
	height: 150px;
	
}

.subFooter{
	background-color: #e8b997;
	width: 100%;
	height: fit-content;
	padding: 20px;
}

.atmaNirbhar{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 300px;
}

.makeIndia{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 300px;
}

.india{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 300px;
}



.toggle{
	

	
	
	display: -webkit-box;
	

	
	
	display: -ms-flexbox;
	

	
	
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	width: 20px;
	margin-right: 20px;
}


.toggle .bar{
	border-radius: 0px;
	height: 3px;
	width: 100%;
	margin: 3px;
	background-color: red;
	display: none;
}
.topnav{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

}
@media only screen and (max-width: 780px) {
.logo{
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.toggle .bar{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
	header{

		width: 100%;
	}
	.navbar .btn{
		font-size: 15px;
		padding:8px ;
		width: 100%;
		-webkit-box-pack: end;
		    -ms-flex-pack: end;
		        justify-content: flex-end;
	
		
	}
	.navbar img{
		width: 30%;
		height: auto;
		margin-left:0;
	}
	nav{
		width: 100%;
		-webkit-box-pack: end;
		    -ms-flex-pack: end;
		        justify-content: flex-end;
	}

	.navbar{
		margin: 10px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: start;
		    -ms-flex-align: start;
		        align-items: flex-start;
		-webkit-box-pack: end;
		    -ms-flex-pack: end;
		        justify-content: flex-end;
	}
	.navbar ul{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: end;
		    -ms-flex-align: end;
		        align-items: flex-end;
		width: 100%;
	}
	.topnav{

		display: none;
		width: 100%;
		
		
	}

	
	.navbar ul .btn{
		-webkit-box-pack: end;
		    -ms-flex-pack: end;
		        justify-content: flex-end;
		-webkit-box-align: end;
		    -ms-flex-align: end;
		        align-items: flex-end;
		width:100px;
			}
	
	.topnav li{
		-webkit-box-align: end;
		    -ms-flex-align: end;
		        align-items: flex-end;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		text-align: center;

	}
nav li{
		margin: 5px;
		
	}


	.btn{
		padding: 5px;
		font-size: 20px;
		width: -webkit-fit-content;
		width: -moz-fit-content;
		width: fit-content;
		text-align: center;
	}

	body{
		width: 100%;
		
	}
	.activeFlex{
		background: rgba(255,175,75,1);
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}


  }

  @media only screen and (max-width: 700px){

	  .subFooter{
		  flex-direction: column;
		  align-items: center;
		  justify-content: center;
	  }
	  .menuFooter{
		  border-left: 0;
		  border-right: 0;
		  border-top: 1px solid #bf885e ;
		  border-bottom: 1px solid #bf885e ;
		  
	  }
	  .footerDiv img{
		width: 100px;
	}
  }

  @media only screen and (max-width: 470px){

	  .mainFooter{
		  display: -webkit-box;
		  display: -ms-flexbox;
		  display: flex;
		  -webkit-box-pack: center;
		      -ms-flex-pack: center;
		          justify-content: center;
		  -webkit-box-orient: vertical;
		  -webkit-box-direction: normal;
		      -ms-flex-direction: column;
		          flex-direction: column;
		  height: -webkit-fit-content;
		  height: -moz-fit-content;
		  height: fit-content;
	  }



  }