/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.contentAll{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    
    
}
.contentFold{
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}
.mainHeading{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.link{
    margin-top: 20px;
    text-decoration: none;
}
h1{
    color: #C88950;
    font-size: 60px;
    padding: 20px;
}
h2{
    color: brown;
    font-size: 35px;
    margin-top: 25px;
    margin-bottom: 20px;
}
ol, b{
    font-size: 18px;
}
p{
    font-size: 18px;
    margin-bottom: 15px;
}
b{
    color: brown;
    
}
.contentFold ul li{
    background-color: #ebb8aa;
    margin: 10px;
    list-style: none;
    width: fit-content;
    font-weight: bolder;
    border-radius: 10px;
    padding: 10px;
    -webkit-box-shadow: 10px 18px 44px -26px rgba(237,110,78,1);
            box-shadow: 10px 18px 44px -26px rgba(237,110,78,1);
}

@media only screen and (max-width: 900px){
        h1{
            font-size: 60px;
        }
        .flex{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;

        }
    } 


@media only screen and (max-width: 500px){
    h1{
        font-size: 45px;
    }

}

@media only screen and (max-width: 380px){
    h1{
        font-size: 25px;
    }
    h2{
        font-size: 25px;
    }
    
}