/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}




table, td, th {  
 
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;

}

th, td {
  
  padding: 15px;
}

th{

text-align: center;
background-color: #edc9af;
-webkit-box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.table{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 25px;
  -webkit-box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
          box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  
}


.rating .btn{
font-size: 10px;
}

#search input{

-webkit-box-sizing:border-box ;

        box-sizing:border-box ;
border: none;
font-size: 15px ;
padding: 10px;
margin: 10px;
color: white;
background-color:#edc9af ;
}

h3{
margin-bottom: 20px;
}

.tips{
width: 90%;
margin: 25px;
}

.content{

display: -webkit-box;

display: -ms-flexbox;

display: flex;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
height: -webkit-min-content;
height: -moz-min-content;
height: min-content;


}


.cards{

-webkit-box-pack: center;

    -ms-flex-pack: center;

        justify-content: center;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-flow: wrap;
    flex-flow: wrap;

height: -webkit-min-content;

height: -moz-min-content;

height: min-content;



}

.chinaVal{
color: rgb(255, 91, 69)
}

.otherVal{
color: rgb(110, 102, 255);

}
.wrap{
word-wrap: normal;
}
.catVal{
color: rgb(245, 130, 239);
}
.entryNum{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
-webkit-box-sizing: border-box;
        box-sizing: border-box;
padding: 10px;
margin: 10px;
-webkit-box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.colorCode{
width: -webkit-fit-content;
width: -moz-fit-content;
width: fit-content;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
margin: 50px;
padding: 20px;

-webkit-box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);

        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.colorCode h5{
padding: 5px;
text-decoration: underline;

}
.divChina{
min-width: 40px;
height: 20px;
background-color: rgb(255, 91, 69);

}
.divOthers{
min-width: 40px;
height: 20px;
background-color: rgb(110, 102, 255);
}
.divCat{
min-width: 40px;
height: 20px;
background-color: rgb(245, 130, 239);
}
h4{
padding-right:30px ;
padding-left: 5px;
}
.mdi td{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
text-align: center;

}
td img{
width: 50px;
}
.chinaVal, .otherVal, .catVal{

}
@media only screen and (max-width: 530px) {
table, td, th {  
  
  text-align: left;
}

table {
  
  border-collapse: collapse;
  

}

th, td {
  
  padding: 5px;
}

th{
text-align: center;
background-color: #edc9af;
position: -webkit-sticky;
position: sticky;
}
.table{

  margin: 1px;
  overflow: scroll;
}

#search{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
}

#search input{
width: -webkit-min-content;
width: -moz-min-content;
width: min-content;
-webkit-box-sizing:border-box ;
        box-sizing:border-box ;
border: none;
padding: 10px;
margin: 10px;
}

h3{
margin-bottom: 20px;
}

.tips{
width: 90%;
margin: 10px;
}

.content{
width: 100%;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
margin-bottom:10px;


}


.colorCode{
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;

margin: 15px;
padding: 5px;

}
.divChina{
width: 40px;
height: 20px;
background-color: rgb(255, 91, 69);

}
.divOthers{
width: 40px;
height: 20px;
background-color: rgb(110, 102, 255);
}
.divCat{
width: 40px;
height: 20px;
background-color: rgb(245, 130, 239);
}
h4{
padding-right:13px ;
padding-left: 5px;
}
}


@media only screen and (max-width: 882px) {

.table{
  margin: 2px;
  overflow: scroll;
}
.content{
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.colorCode{
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 25px;
  padding: 10px;
}

}
@media only screen and (max-width: 1200px) {
.content{
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.colorCode{
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  
  margin: 25px;
  padding: 10px;
  
  
}
select{
margin-bottom: 10px;
}

}

